.filterForm{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    border: solid red 0.25rem;
}

.sortType{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5%;
}

.sortOrder{
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.sortStat{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5%;
}

.pageBtn {
    max-height: 3rem;
    max-width: 5rem;
    margin: 5%;
}