.sortSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sortOrder {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.sortStat {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5%;
}

.sortStat select {
    color: white;
    background-color: #393E41;
    box-shadow: 0 0 5px 3px red;
    text-align: center;
    height: 2rem;
    width: 7rem;
    -webkit-appearance: none;
}

.sortStat select:hover {
    color: black;
    background-color: #D3D0CB;
}